.main {
  padding: 2rem;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.carregando {
  text-align: center;
  font-size: 1.2rem;
}
